audioread==3.0.1
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
decorator==5.1.1
fonttools==4.53.1
idna==3.7
imageio==2.35.1
joblib==1.4.2
kiwisolver==1.4.5
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.43.0
matplotlib==3.9.2
msgpack==1.0.8
networkx==3.3
numba==0.60.0
numpy==2.0.1
packaging==24.1
pandas==2.2.2
pillow==10.4.0
platformdirs==4.2.2
pooch==1.8.2
pycparser==2.22
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
six==1.16.0
soundfile==0.12.1
soxr==0.4.0
threadpoolctl==3.5.0
tifffile==2024.8.10
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
